.CardMain {
	display: flex;
	justify-items: center;
	justify-content: center;
}
.Card {
	margin: 40px auto;
	width: 45%;
	min-height: 21rem;
	align-items: center;
	padding: 30px;
	margin-bottom: 50rem;
	background-color: white;
	border-radius: 40px;
}
.MenuCrudMain {
	display: grid;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.Button {
	font-size: 2vw;
	width: 50%;
}
.listButtons {
	float: right;
}
