.Menu {
	color: rgb(38, 36, 34);
	background-color: rgb(255, 255, 255);
	font-style: italic;
	padding: 1% 5% 1% 5%;
	margin-left: 15%;
	margin-right: 150px;
	border: 4px rgb(33, 33, 33) dashed;
	text-transform: uppercase;
}

.menuTable {
	padding: 0px;
	margin-bottom: 3%;
	margin-top: 10px;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	border: 1px solid rgb(207, 173, 135);
}
.menuTable h2 {
	background-color: rgb(0, 0, 0);
	color: azure;
	font-size: 27px;
}
